/* CSS for all DHQ media */

* { 
    border: 0;
    padding: 0;
}
body {
    font-family: Arial, 'Arial Unicode MS', 'Lucida Grande', sans-serif;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    margin: 0;
}
/***************************************************
Main Content
***************************************************/
h1,
div#toc p,
div#titleIndex div,
div#authorIndex p,
div.author {
    text-align: left;
}
a.expandCollapse:link,
a.expandCollapse:visited,
a.expandCollapse:active,
a.expandCollapse:hover {
    text-decoration: none;  
}
div#pubInfo {
    font-size: smaller;
    margin-bottom: 1em;
}
#mainContent {
    text-align: justify;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center center;
    /* Watermark ends. [CRB] */
}
#mainContent img {
    max-width: 700px;
    width: auto;
    /*max-width: 85%;
    width: expression(this.width > 700 ? 700: true);*/ /* for IE6 fake max-width */
}
#mainContent ol li {
    display: list-item;
    vertical-align: top;
    position: relative;
    top: -.1em;
    max-width: 95%;
}
#mainContent ul li {
    vertical-align: top;
    position: relative;
    top: -.1em;
    max-width: 95%;
}
#mainContent ul,
#mainContent ol {
	margin-left: 3em;
}
#mainContent table {
    max-width: 95%;
}
.ptext {
    margin: 1em 0;
    max-width: 95%;
    line-height:1.5;
}
.lg {
    margin: 1em 0 1em 2em;
    max-width: 95%;
}
li .ptext {
	max-width:  100%;
	margin-top: .4em;
	margin-bottom: .4em;
}
ul.simple {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.simple li {
    margin: 0;
    padding: .1em 0;
}
div.example blockquote.eg {
    margin-left: 0;
    margin-right: 0;
}
/* use to dedent simple lists inside blockquotes */
blockquote ul.simple {
	text-indent: -3em;
}
blockquote ul.simple > li {
	margin-left: 0;
}
blockquote.quotedlist ul li {
	margin-left: -2em;
}
blockquote.quotedlist ul.simple li {
	margin-left: 0;
}
div.l {
    padding-left: 1em;
    text-indent: -1em;
}

.indent-1 {text-indent:0em !important;}
.indent-2 {text-indent:1em !important;}
.indent-3 {text-indent:2em !important;}
.indent-4 {text-indent:3em !important;}
.indent-5 {text-indent:4em !important;}
.indent-6 {text-indent:5em !important;}

div.epigraph {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 2em;
    max-width: 95%;
}
div.counter {
    padding: .2em;
    margin: .2em 0;
    float: right;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #333;
}
div#worksCited div.bibl {
    margin: 1em 0;
    padding-left: 2em;
    text-indent: -1.5em;
    width: 95%;
    text-align: left;
}

/* accommodate bibliographic lists outside the Works Cited */
div.div0 div.bibl {
    margin: 1em 0;
    padding-left: 2em;
    text-indent: -1.5em;
    width: 95%;
    text-align: left;
}


div.bibl div.bibl {
    display:inline;
    margin:0 !important;
    padding-left:0 !important;
    text-indent:0 !important;
    width:inherit !important;
}

div#worksCited h2, div#notes h2 {
    text-align: center;   
}
div#worksCited div.bibl span.ref {
    font-weight: bold;
}
/* added the rule below to accommodate bibls that are in a listBibl in an Appendix, to allow their labels to be bold */
div.div0 div.bibl span.ref {
    font-weight: bold;
}


a.ref {
     font-weight: normal;
}

/*
div.figure {
	margin-top:.5em;
	margin-right:auto;
	margin-bottom:.5em;
	margin-left:auto;
	text-align:center;
}

div.figure div.label {
width:80%;
margin-left:auto;
text-align:left;

}
*/
div.figure,
div.example,
div.table {
    margin: .5em 0 .5em 2em;
    color: #333333;
}
/* We need to include `#mainContent` here to override the `#mainContent img` rule above. */
#mainContent div.figure img {
    width: 100%;
    /*max-width: 100%;
    width: expression(this.width > 700 ? 700: true);*/ /* for IE6 fake max-width */
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;       /* IE tweak */
}
tt,
.monospace {
    font-family: courier, fixed, monospace;
}
tt {
    font-size: .9em;
}

div.label {
    font-weight: bold;
    font-size: smaller; 
    padding: .5em 0;
    max-width:95%; 
}

div.caption, div.revisionNote {
		border: 1px solid black;
		font-size: smaller;
		margin:1em;
		width:75%;
		background-color:#d5dfe9;
		padding:1em;
}

div.caption div.label {
font-size:inherit;
display:inline;

}
p.quote,
p.speech,
p.ptr,
p.ref {
    margin-top: .3em;
    margin-bottom: .3em;
    max-width: 95%;
    line-height:1.5;
}
p.bio {
    margin-left: 1.3em;
    font-size: smaller;
}
td {
	padding: .2em;
}
dd {
    max-width: 90%;
}
tr.label,
td.label {
	font-weight: bold;
	padding: .2em;
}
tr {
    text-align: left;
}
div.endnote {
    margin: 1em 0 1em 0;
    max-width: 95%;
    text-align: left;
}
a.noteRef, 
span.noteRef {
    vertical-align: super;
    font-size: smaller;
    text-decoration: none;
}
div.index_top {
    margin-top: 1em;
    margin-bottom: 0em;
}
p.index_top,
p.index_item {
    margin: 0 0 0 2em;
}
p.index_bottom {
    margin: 0 0 1em 2em;
}
div.authors {
    margin: 0 0 1em 2em;
}
.subscript {
	vertical-align: sub;
	font-size: smaller;
}
.superscript {
	vertical-align: super;
	font-size: smaller;
}
.italic {
    font-style: italic;
}
.i {
    font-style: italic;
}
.bold {
    font-weight: bold;  
}
.b {
    font-weight: bold;  
}
.strikethrough {
    text-decoration: line-through;
}
.smcaps {
    font-variant: small-caps;    
}
.underlined {
    text-decoration: underline;
}
.u {
    text-decoration: underline;
}
.speaker {
    font-weight: bold;
    vertical-align: top;
    width: 80px;
    white-space: pre-wrap;
    word-wrap: break-word;       /* IE tweak */
}
.stage {
    font-weight: normal;
}
.none {
    font-style: normal;
}
.off {
    color: gray;
}

.center {
display:block;
margin-left:auto;
margin-right:auto;
text-align:center;
}

table {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-spacing: 0;
}

table td {
padding: 3px 10px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

table th, table tr.label td, table td.label {
padding: 3px 10px;
  background-color: #eee;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

#DHQtext form {	
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
}

#DHQtext textarea { 
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  background-color: #eff2f4;
}

.license {margin-top:1em; font-size: .75em;}


/* CSS specific to the Author and Title indexes */

#mainContent .index-navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em 0;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  padding: 0.25em 0.5em;
}

#mainContent .index-navbar ul li {
  border: thin solid #dddddd;
  display: inline-block;
  padding: 0.125em 0.75em;
  position: unset;
}
