/* CSS for the DHQ preview site — overrides the main CSS rules */

/* Apply a sepia filter to the banner image. */
#backgroundpic img {
  filter: sepia();
}
.preview-warn {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  /* The first four shadows add a black outline around the word. The last adds a diffuse yellow shadow 
     for additional contrast. */
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000, #FC0 1px 0 10px;
  text-transform: uppercase;
  z-index: 5;
  position: absolute;
  width: 100%;
  text-align: center;
}
