/* CSS for the DHQ preview site — overrides the main CSS rules */

/* Make the banner sepia. */
#backgroundpic img {
  filter: sepia();
}
.preview-warn {
  font-size: 2em;
  font-weight: bold;
  text-shadow: #FC0 1px 0 10px;
  text-transform: uppercase;
  z-index: 5;
  position: absolute;
  width: 100%;
  text-align: center;
}
