/* CSS for DHQ print */

body {
    font-size: 9pt;
    margin: 0;
}
a {
    color: #000000;
    text-decoration: none;
}
h1 {
    font-size: 14pt;
}
h2 {
    font-size: 12pt;
}
h3 {
    font-size: 10pt;   
}
h4 {
    font-size: 9pt;  
}
h5 {
    font-size: 9pt;    
}
h6 {
    font-size: 9pt;   
}

/***************************************************
Banner, Top Navigation
***************************************************/
#top {
    display: none;
}

#topNavigation {
    display: none;
}

#topnavlinks {
    display: none;
}

#topnavsearch {
    display: none;
}	

#banner {
    display: none;
}

#dhqlogo {
    display: none;
}

#longdhqlogo {
    display: none;
}

/***************************************************
Side Navigation, Side Content
***************************************************/
#leftsidebar {
    display: none;
}
#leftsidenav {
    display: none;
}
#leftsideID	{
    display: none;
}
.leftsidecontent {
    display: none;
}

/***************************************************
Main Content
***************************************************/
div.toolbar {
    display: none;
}
#mainContent {
    float: none;
    padding: 5pt;
    margin-left: 1.5em;
    margin-right:1.5em;
}
#printSiteTitle {
    font-size: 16pt;
    font-weight: bold;
}
div.figure,
div.example,
div.table {
    page-break-inside: avoid;
}
p {
    max-width: 95%;
}
.viewAbstract {
    display: none;
}
#abstract {
    border: 1px solid black;
    margin: 1em;
    margin-bottom: 4em;
    font-size: 9pt;
    width: 80%;
    padding: 1em 1em 1em 3em;
}
p.label, div.counter, h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}
p.caption, p.ptr, p.ref  {
    page-break-before: avoid;
}

div.epigraph, div.example {
page-break-inside: avoid;
}

img {
max-height:5in;
}


/***************************************************
Footer
***************************************************/
#footer {
	display: none;
}

#comments {
display:none;
}

script {
display:none;
}