
/* Housekeeping and whole-document */
@namespace xml url(http://www.w3.org/XML/1998/namespace);
TEI {
    margin: 3em;
    background-color: #F8FCFF;
    }


/* Metadata */
TEI > teiHeader > fileDesc > titleStmt > title {
    display: block;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    }
TEI > teiHeader > fileDesc > titleStmt > author,
TEI > teiHeader > fileDesc > titleStmt > respStmt,
TEI > teiHeader > fileDesc > sourceDesc,
TEI > teiHeader > revisionDesc {
    display: none;
    }
TEI > teiHeader > fileDesc > publicationStmt > * {
    display: block;
    }
TEI > teiHeader > fileDesc > publicationStmt:before,
TEI > teiHeader > fileDesc > publicationStmt:after {
    content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - \a";
    white-space: pre;
}


/* The TEI > teiHeader > encodingDesc > classDecl is where the real meat of this matter is found */
category {
     display: block;
     text-align: left;
     padding-left: 30px;
     padding-right: 20px;
}
category:before {
    font-family: monospace;
    font-size: large;
    content: "\a * * * * \22" attr(xml|id) "\22" " * * * *";
    white-space: pre;
}
category:after {
     content: "\a";
     white-space: pre;
}
term {
     display: inline-block;
}
term:first-of-type:before {
    content: "including ➜   ";
    font-style: italic;
    white-space: pre;
}
term:after {
    content: "  || ";
    white-space: pre;
}
term:last-of-type:after {
    content: " ";
}

catDesc > name {
     display: block;
     font-weight: bold;
     font-size: larger;
}
catDesc > gloss {
     display: block;
}


/* At least for now, we summarily ignore the TEI content */
text {
     display: none;
}
