category {
     display: block;
     text-align: left;
     padding-left: 30px;
     padding-right: 20px;
}
category:before {
     content: "\a* * * * * *";
     white-space: pre;
}
category:after {
     content: "\a";
     white-space: pre;
}
term {
     display: inline-block;
}
term:not(term[type = "description"]):not(term[type = "prefLabel"]):not(term[type = "scopeNote"]):after {
     content: "  ||  "
}

term[type = "prefLabel"] {
     display: block;
     font-weight: bold;
     font-size: larger;
}
term[type = "description"] {
     display: block;
}
term[type = "scopeNote"] {
     font-style: italic;
}
fileDesc {
     display: none;
}

text {
     display: none;
}