/*// oxygen Authoring CSS for DHQ Biblio mods records */

@namespace biblio "http://www.digitalhumanities.org/dhq/biblio";

* { display: block }

mods { font-family: sans-serif }

modsCollection > mods {
  margin-top: 1em;
  padding: 0.5em;
  background-color: pink;
  border: thin solid black
}

mods:before {
    content: "biblio genre: "
    oxy_editor(
            type, combo,
            edit, "@biblio:genre",
            columns, 18,
            selectionMode, "single",
            fontInherit, true);
    font-size: 80% }

genre { display: inline }

identifier { display: inline }

titleInfo { }

mods > titleInfo > title { font-size: 110%; font-weight: bold }

mods > titleInfo > subTitle { }

name * { display: inline }

role { }

roleTerm { }

roleTerm:before { content: '(' }
roleTerm:after { content: ') ' }

namePart { }

namePart[type=given]:before { content: ', ' }



relatedItem:before { content: 'From: '; font-size: 75% }

mods[biblio|genre='Journal Article'] relatedItem:before { content: 'Publication: ' }

relatedItem { padding: 0.5em; margin: 0.5em; background-color: #EBDDE2  }

issuance {
    visibility:-oxy-collapse-text;
    content: "issuance: "
      oxy_editor(
            type, combo,
            edit, "#text",
            columns, 18,
            selectionMode, "single",
            fontInherit, true);
    color: #767676; font-size: 75%; font-style: italic }

part * { display: inline }
part *:before { color: #767676; font-size: 80% }
part *:after { content: ' ' }


detail:before { display: inline; content: attr(type) ': ' }

date:before { content: 'date: '}





typeOfResource { }

location { }

url { }

physicalDescription { }

form { }

number { }

extent { }

start { }

end { }

recordInfo { }

recordChangeDate { }

recordCreationDate { }

note { }

originInfo { }

publisher { }

place { }

placeTerm { }

dateIssued { }
