/* Page and Book Setup and Images */

body {
	background-color: #a9a9a9;
}

/* Cover */

#cover {
	background: url(../images/cover.png) center no-repeat;
	position:absolute;
	width: 410px;
	height: 620px;
	margin-left: 410px;
	margin-top: 0px;

	transform: rotateY(-0deg);
	-webkit-transform: rotateY(-0deg);
	-moz-transform: rotateY(-0deg);
	-ms-transform: rotateY(-0deg);
	-o-transform: rotateY(-0deg);
	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	-o-transform-origin: left bottom;

	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;	
	z-index: 1000;
	}


#backcover {
	left:0;
	background:url(../images/backcover.png);
	position:inherit;
	width: 400px;
	height: 620px;
	
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform-origin: right bottom;
	-webkit-transform-origin: right bottom;
	-moz-transform-origin: right bottom;
	-ms-transform-origin: right bottom;
	-o-transform-origin: right bottom;

	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	
	z-index: -800;
	}

.shadow {
	width: 620px;
	height: 400px;
	position:absolute;
	margin-top:110px;
	margin-left:-70px;
	z-index:-1000;
	background-image:-webkit-linear-gradient(rgba(255,255,255,0) 57.62%, rgba(202,202,202,0.2) 80.46%, rgba(255,255,255,0.05) 87.09%, rgba(168,168,168,0.34) 93.71%, rgba(194,194,194,0) 96.69%);
	-webkit-transform:rotateZ(-90deg);
	
	background-image:-moz-linear-gradient(rgba(255,255,255,0) 57.62%, rgba(202,202,202,0.2) 80.46%, rgba(255,255,255,0.39) 87.09%, rgba(168,168,168,0.34) 93.71%, rgba(227,227,227,0.21) 96.69%);	-moz-transform:rotateZ(-90deg);
	
	background-image:-o-linear-gradient(rgba(255,255,255,0) 57.62%, rgba(202,202,202,0.2) 80.46%, rgba(255,255,255,0.39) 87.09%, rgba(168,168,168,0.34) 93.71%, rgba(227,227,227,0.21) 96.69%);	-o-transform:rotateZ(-90deg);
	
	background-image:-ms-linear-gradient(rgba(255,255,255,0) 57.62%, rgba(202,202,202,0.2) 80.46%, rgba(255,255,255,0.39) 87.09%, rgba(168,168,168,0.34) 93.71%, rgba(227,227,227,0.21) 96.69%);	-ms-transform:rotateZ(-90deg);


}

/* Book and Page Layout */

#book {
	background-color:#a9a9a9;
	background: url(../images/halfpagespread.png);
	
	position: absolute;
	width: 825px;
	height: 620px;
	margin-top:50px;
	margin-left: 80px;
	z-index:900;
	}

#pages section {
	display: block;
	width: 325px;
	height: 600px;
	left: 335px;
	bottom:0px;
	top:-30px;
	position: absolute;
	overflow: hidden;
	}

#pages section>div {
	display: block;
	width: 325px;
	height: 620px;
	font-family: serif;
	font-size: 11pt;
}

#pages section {
	margin-top:30px;
	margin-left:80px;
	padding-top:0px;
	padding-bottom:20px;	
	padding-left:0px;
	line-height: 1.4em;
	text-align: justify;
}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}

/* Box shadows, backgrounds, and margins for tabs */ 

.bundle div {
	max-width:-moz-max-content; /* Firefox */
	max-width:intrinsic; /* Safari */
	max-width:-webkit-fit-content; /* Chrome */
	max-width:-o-intrinsic; /* Opera */
	
	box-shadow: -2px 2px 2px rgba(145,145,145,0.62);
	-webkit-box-shadow: -2px 2px 2px rgba(145,145,145,0.62);
	-moz-box-shadow: -2px 2px 2px rgba(145,145,145,0.62);
	-o-box-shadow: -2px 2px 2px rgba(145,145,145,0.62);
	-ms-box-shadow: -2px 2px 2px rgba(145,145,145,0.62);
	background-color:#fafafa;
	/* background:url(../images/papertexture.png); */
	}

/* White Space */

.branch {
	min-width:325px;
	min-height:22px;
}

.stump {
	width:325px;
	height:100px;
	text-align: center;
	padding-top:40px;
	background-color:#fafafa;
	/*
	box-shadow: -2px -2px 2px rgba(145,145,145,0.62); 
	-webkit-box-shadow: -2px -2px 2px rgba(145,145,145,0.62);
	-moz-box-shadow: -2px -2px 2px rgba(145,145,145,0.62);
	-o-box-shadow: -2px -2px 2px rgba(145,145,145,0.62);
	-ms-box-shadow: -2px -2px 2px rgba(145,145,145,0.62);
	background:url(../images/papertexture.png); 
	*/

}

/* Shadow for Depth Effect and Perspective for Sliding Pages Effect */

section {
	 box-shadow: inset 50px 44px 100px 100px rgba(163,163,163,0.06);
	-webkit-box-shadow: inset 50px 44px 100px 100px rgba(163,163,163,0.06);
	-o-box-shadow: inset 50px 44px 100px 100px rgba(163,163,163,0.06);
	-ms-box-shadow: inset 50px 44px 100px 100px rgba(163,163,163,0.06);
	-moz-box-shadow: inset 50px 44px 100px 100px rgba(163,163,163,0.06);
	
	perspective: 2000;
	transform:scale(.89);

	overflow: visible;
	position: relative;

	-webkit-perspective: 2000;
	-moz-perspective: 2000;
	-ms-perspective: 2000;
	-o-perspective: 2000;
	
	-webkit-transform:scale(.89);
	-moz-transform:scale(.89);
	-ms-transform:scale(.89);
	-o-transform:scale(.89);
}

/* Individual Page Layouts */

/* Page 27 */

.twig27a {
	margin-left:100px;
}
.twig27b {
	margin-left:254px;
	margin-top:22px;
}
.twig27c {
	margin-left:0px;
	margin-top:0px;	
}
.twig27d {
	margin-left:228px;
	margin-top:-22px;
	margin-bottom:22px;
	}
.twig27e {
	margin-left:20px;
	margin-top:22px;
	margin-bottom:-22px;
	}
.twig27f {
	margin-left:150px;
	}
.twig27g {
	margin-left:250px;
	margin-top:-22px;
}
.twig27h {
	margin-top:0px;
	margin-left:0px;
	}
.twig27i {
	margin-left:245px;
	margin-top:-22px;
	margin-bottom:22px;
	padding-right:77px;
	}
.twig27j {
	margin-top:22px;
	}
.twig27k {
	margin-left:40px;
	margin-top:-22px;
	}
.twig27l {
	margin-left:105px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:22px;
	}
.twig27m {
	padding-right:5px;
	margin-left:215px;
	}
.twig27n {
	margin-bottom:22px;
	padding-top:5px;
	}
.twig27o {
	margin-left:30px;
	margin-top:22px;
	margin-bottom:-22px;
	}
.twig27p {
	margin-left:100px;
	margin-bottom:-22px;
	}
.twig27q {
	margin-left:200px;
	}
.twig27r {
	margin-left:0px;
	margin-top:0px;
	}
.twig27s {
	margin-left:200px;
	margin-top:-22px;
	margin-bottom:50px;
	}
.twig27t {
	margin-top:-22px;
	padding-bottom:5px;
	}
.twig27u {
	margin-left:100px;
	margin-top:-22px;
	}
.twig27v {
	margin-left:280px;
	margin-top:-22px;
	padding-right:45px;
	}

/* Page 28 */
		
.twig28a {
	margin-top:0px;
}
.twig28b {
	margin-left:35px;
	margin-top:22px;
	margin-bottom:-22px;
}
.twig28c {
	margin-top:0px;
	margin-left:150px;
	margin-bottom:-22px;
}
.twig28d {
	width:50px;
	height: 20px;
	margin-left:280px;
	
	}
.twig28e {
	margin-left:180px;
	}
.twig28f {
	margin-left:60px;
	margin-top:22px;
	}
.twig28g {
	margin-left:0px;
	margin-top:0px;
	}
.twig28h {
	margin-left:230px;
	margin-top:-22px;
	}
.twig28i {
	margin-left:278px;
	margin-top:-22px;
}
.twig28j {
	margin-left:120px;
	margin-top:22px;
	}
.twig28k {
	margin-left:25px;
	margin-top:0px;
	}
.twig28l {
	margin-left:278px;
	margin-top:-22px;
	}
.twig28m {
	margin-left:10px;
	margin-top:20px;
	}
.twig28n {
	margin-left:20px;
	margin-top:0px;
	}
.twig28o {
	margin-left:220px;
	margin-top:-22px;
	margin-bottom:28px;
	}
.twig28p {
	margin-left:50px;
	margin-top:20px;
	padding-right:280px;
	}
.twig28q {
	margin-left:200px;
	margin-bottom:30px;
	}
.twig28r {
	margin-left:190px;
	margin-top:22px;
	padding-bottom:5px;
	}


/* Page 29 */

.twig29a {
	margin-left:35px;
	margin-top:0px;
}
.twig29b {
	margin-left:155px;
	margin-top:-22px;
	margin-bottom:22px;
}
.twig29c {
	margin-left:75px;
	margin-bottom:-22px;
}
.twig29d {
	margin-left:200px;
	}

.twig29e {
	margin-left:170px;
	margin-top:22px;
	padding-bottom:5px;
	}

.twig29f {
	margin-left:240px;
	margin-bottom:22px;
	padding-right:80px;
	}
.twig29g {
	margin-left:0px;
	margin-top:0px;
	padding-bottom:5px;
	}

.twig29h {
	margin-left:120px;
	margin-bottom:33px;
	}

.twig29i {
	margin-left:180px;
}

.twig29j {
	margin-left:200px;
	margin-top:33px;
	padding-right:120px;
	
	}

.twig29k {
	margin-left:0px;
	margin-bottom:33px;
	}

.twig29l {
	margin-left:50px;
	}

/* Page 30 */

.twig30a {
	margin-left:260px;
	margin-bottom:30px;
	padding-left:70px;
	padding-top:22px;
}
.twig30b {
	margin-left:130px;
}
.twig30c {
	margin-left:40px;
	margin-top:22px;
	margin-bottom:-22px;
	padding-bottom:5px;
}
.twig30d {
	margin-left:180px;
	margin-top:0px;
	padding-left:5px;
	padding-right:5px;
	}
.twig30e {
	margin-left:235px;
	margin-top:0px;
	margin-bottom:22px;
	padding-left:90px;
	padding-top:22px;	
}

#square30 {
	margin-top:50px;
	margin-bottom:20px;
	width:325px;
	height:100px;
}

#inset30{
	position:absolute;
	margin-left:140px;
	margin-top:45px;
	margin-bottom:20px;
	width:20px;
	height:20px;
	
	box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);
	-webkit-box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);
	-moz-box-shadow:inset 5px 5px 10px rgba(145,145,145,0.62);
	-o-box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);
	-ms-box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);

}
.twig30f {
	margin-left:0px;
	margin-top:-22px;
	}
.twig30g {
	margin-left:140px;
	margin-top:-22px;
	margin-bottom:44px;
	padding-right:36px;
	}
.twig30h {
	margin-left:180px;
	margin-top:0px;
	padding-bottom:5px;
	}
.branch30a {
	width:325px;
	height:22px;
	margin-bottom:44px;
}

.twig30i {
	margin-left:90px;
	margin-top:22px;
	padding-bottom:5px;
}


/* Page 31 */

.twig31a {
	margin-left:90px;
	margin-bottom:150px;
}
.twig31b {
	margin-left:190px;
}
.twig31c {
	margin-left:40px;
}
.twig31d {
	margin-left:180px;
	margin-top:-22px;
	margin-bottom:150px;
}
.twig31e {	
	width:55px;
	height:22px;
	margin-left:270px;}
.twig31f {
	margin-left:100px;
	margin-bottom:40px;
}

/* Page 32 */

.twig32a {
	padding-left:33px;
	padding-top:22px;
	margin-left:290px;
}
.twig32b {
	margin-top:70px;
	margin-bottom:-22px;
}
.twig32c {
	margin-left:190px;
}
.twig32d {}

.twig32e {
	margin-left:180px;
	margin-top:-22px;
	margin-bottom:33px;
	}
	
.twig32f {
	margin-left:20px;
	margin-bottom:-22px;
	}
	
.twig32g {
	margin-left:70px;
	margin-bottom:-22px;
	}
	
.twig32h {
	padding-left:44px;
	padding-top:22px;
	margin-left:280px;
	}
	
.twig32i {
	margin-left:260px;
	margin-bottom:33px;
	}
	
.twig32j {
	margin-left:150px;
	margin-top:0px;
	padding-right:0px;
	}
	
.twig32k {
	margin-left:30px;
	margin-bottom:0px;
	}
	
.twig32l {
	margin-left:210px;
	margin-top:-22px;
	margin-bottom:40px;
	}
	
.twig32m {}

.twig32n {
	margin-left:160px;
	margin-bottom:50px;
	}
.twig32o {
	margin-left:100px;
	margin-top:0px;
	padding-bottom:5px;
	}

/* Page 33 */

.twig33a {
	margin-left:160px;
	padding-right:160px;
	margin-bottom:26px;
}

.twig33b {
	margin-left:180px;
	padding-bottom:5px;
}

.twig33c {
	margin-left:140px;
	margin-bottom:33px;
}

.twig33d {
	margin-left:60px;
	padding-bottom:5px;
}

.twig33e {
	margin-top:44px;
	margin-left:25px;
	margin-bottom:-22px;
}

.twig33f {
	margin-left:160px;
	margin-bottom:-22px;
	
}

.twig33g {
	margin-left:217px;
}

.twig33h {
	margin-left:50px;
	padding-right:220px;
	margin-bottom:55px;
}

.twig33i {
	margin-left:80px;
	margin-bottom:-22px;
}

.twig33j {
	margin-left:250px;
	
}

.twig33k {
	margin-left:100px;
	margin-bottom:55px;
}

.twig33l {
	margin-bottom:-22px;
}

.twig33m {
	margin-left:100px;
	margin-bottom:-22px;
}

.twig33n {
	margin-left:200px;
	margin-bottom:-22px;
}

.twig33o {
	margin-left:295px;
	padding-left:30px;
	padding-top:22px;
}

/* Page 34 */

.twig34a {
	margin-left:65px;
	margin-bottom:33px;
}

.twig34b {}

.twig34c {
	margin-left:25px;
	margin-top:33px;
	margin-bottom:-22px;
}

.twig34d {margin-left:260px;
	
}

.twig34e {}

.twig34f {
	margin-top:22px;
	margin-left:60px;
	margin-bottom:-22px;
}

.twig34g {
	margin-left:170px;
}

.twig34h {
	padding-left:5px;
	padding-right:5px;
	margin-left:50px;
	margin-bottom:33px;
}

.twig34i {
	margin-left:190px;
}

.twig34j {}

.twig34k {
	margin-top:-22px;
	margin-left:70px;
}

.twig34l {
	margin-top:33px;
	margin-left:190px;
	padding-right:130px;
}


/* Page 35 */

#square35 {
	margin-top:0px;
	margin-bottom:0px;
	width:325px;
	height:100px;
}

#inset35{
	position:absolute;
	margin-left:140px;
	margin-top:40px;
	margin-bottom:00px;
	width:30px;
	height:20px;
	
	box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);
	-webkit-box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);
	-moz-box-shadow:inset 5px 5px 10px rgba(145,145,145,0.62);
	-o-box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);
	-ms-box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);

}


.twig35a {
	margin-left:270px;
}

.twig35b {
	margin-top:22px;
	margin-left:20px;
	margin-bottom:-22px;
}

.twig35c {
	margin-left:245px;
}

.twig35d {
	margin-top:44px;
	margin-left:120px;
	margin-bottom:-22px;
}

.twig35e {
	margin-left:200px;
	padding-left:5px;
	padding-right:5px;
}

.twig35f {
	margin-left:150px;
	margin-bottom:66px;
}

.twig35g {
	margin-left:140px;
	margin-bottom:-22px;
}

.twig35h {
	margin-left:265px;
}

.twig35i {
	margin-left:130px;
}

.twig35j {
	margin-left:200px;
	margin-top:-22px;
}

.twig35k {
	margin-top:44px;
	margin-bottom:-22px;
}

.twig35l {
	margin-left:180px;
	padding-right:140px;
}

/* Page 36 */

.twig36a {
	margin-bottom:33px;
}
.twig36b {
	margin-left:130px;
}
.twig36c {
	margin-left:60px;
	margin-bottom:33px;	
}
.twig36d {
	margin-left:205px;
}
.twig36e {}
.twig36f {
	margin-left:200px;
	margin-top:-22px;
	margin-bottom:33px;
}
.twig36g {
	margin-left:60px;
	margin-bottom:-22px;
}
.twig36h {
	margin-left:170px;
	margin-bottom:-22px;
}
.twig36i {
	margin-left:230px;
	
}
.twig36j {
	margin-left: 185px;
	margin-bottom:22px;
}
.twig36k {
	margin-left:185px;
}
.twig36l {}
.twig36m {
	margin-top:-22px;
	margin-left:180px;
}
.twig36n {
	padding-left:33px;
	padding-top:22px;
	margin-left:290px;
	margin-top:-22px;}
.twig36o {
		margin-top:22px;
	margin-bottom:-22px;
}
.twig36p {
	margin-left:290px;
}
.twig36q {
	margin-left:260px;
	margin-bottom:33px;
}

/* Page 37 */

.twig37a {
	margin-top:33px;
	margin-left:70px;
}
.twig37b {
	margin-left:60px;
	margin-bottom:33px;
}
.twig37c {
	margin-left:180px;
}
.twig37d {
	margin-left:100px;
	margin-bottom:33px;
}
.twig37e {
	margin-left:150px;
	padding-right:45px;
	margin-bottom:111px;
}
.twig37f {
	margin-left:90px;
	margin-bottom:44px;
}
.twig37g {
	margin-left:90px;
	margin-bottom:-22px;
}
.twig37h {
	margin-left:220px;
}

/* Page 38 */

.twig38a {
	margin-left:70px
}
.twig38b {
	margin-left:220px;
	margin-top:-22px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:33px;
}
.twig38c {
	margin-left:220px;
}
.twig38d {
	margin-left:50px;
}
.twig38e {
	margin-left:180px;
	margin-top:-22px;
	margin-bottom:22px;
}
.twig38f {
	margin-left:90px;
	padding-left:5px;
	padding-right:5px;
}
.twig38g {
	margin-left:220px;
	margin-top:33px;
}
.twig38h {
	margin-left:80px;
	margin-bottom:33px;
}
.twig38i {
	margin-left:185px;
	margin-bottom:33px;
}
.twig38j {
	margin-left:160px;
}
.twig38k {}
.twig38l {
margin-top:33px;
margin-left:70px;
margin-bottom:-22px;
}
.twig38m {
	margin-left:220px;
}

/* Page 39 */

.twig39a {
	margin-left:30px;
	margin-top:44px;
	margin-bottom:-22px;
}
.twig39b {
	margin-left:220px;
}
.twig39c {
	margin-left:30px;
	margin-top:44px;
	margin-bottom:-22px;
}
.twig39d {
	margin-left:215px;
}
.twig39e {}
.twig39f {
	margin-left:230px;
	margin-top:44px;
}
.twig39g {
	margin-left:40px;
}
.twig39h {
	margin-left:100px;
	margin-top:-22px;
	margin-bottom:77px;
}
.twig39i {
	margin-left:90px;
	margin-bottom:-22px;
}
.twig39j {
	margin-left:170px;
}
.twig39k {
	padding-left:60px;
	padding-top:22px;
	margin-left:265px;
}

.twig39l {
	margin-left:50px;
	margin-top:33px;
}

/* Page 40 */

.twig40a {
	margin-top:44px;
	margin-left:160px;
}
.twig40b {
	margin-left:30px;
	margin-top:44px;
	margin-bottom:-22px;
}
.twig40c {
	margin-left:55px
}
.twig40d {}
.twig40e {
	margin-left:220px;
	margin-top:-22px;
}
.twig40f {
	margin-left:60px;
	margin-top:44px;
}
.twig40g {
	margin-left:105px;
	margin-bottom:44px;
}
.twig40h {
	margin-left:220px;
}
.twig40i {
	margin-bottom:44px;
	
}
.twig40j {
	margin-left:200px;
	padding-right:120px;
}

/* Page 41 */
#square41 {
	margin-top:0px;
	margin-bottom:55px;
	width:325px;
	height:110px;
}
#inset41{
	position:absolute;
	margin-left:110px;
	margin-top:40px;
	margin-bottom:00px;
	width:90px;
	height:20px;
	
	box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);
	-webkit-box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);
	-moz-box-shadow:inset 5px 5px 10px rgba(145,145,145,0.62);
	-o-box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);
	-ms-box-shadow: inset 5px 5px 10px rgba(145,145,145,0.62);

}
.twig41a {
	margin-left:100px;
	margin-bottom:33px;
}
.twig41b {
	margin-left:90px;
}
.twig41c {
	margin-left:220px;
	margin-top:-22px;
	margin-bottom:22px;
	
}
.twig41d {
	margin-left:180px;
	
}
.twig41e {
	margin-left:50px;
}
.twig41f {
	margin-left:50px;
	padding-right:110px;
	margin-bottom:33px;
}
.twig41g {
	margin-left:200px;
}