* { display: block }

* > * { margin-left: 1em }
* > *:before { font-family: sans-serif; font-size: 80%; color: #808080;
               content: oxy_local-name() ' ' }


*[issuance]:before { 
content: oxy_local-name() ' '
  ' issuance: '
  oxy_combobox(           
    edit, "@issuance",
    editable, false )
}


BiblioSet { }

BiblioSet > * { padding: 0.5em; border: thin dotted black; margin-top: 1em }

BiblioSet > *[issuance]:before { 
content: oxy_local-name() ' '
  ' DHQ ID: '
  oxy_textfield(
    edit, "@ID",
    columns, 20 )
  ' issuance: '
  oxy_combobox(           
    edit, "@issuance",
    editable, false )
}

/*   attribute ID { xsd:NCName },
  attribute dhqCode { text }?,
  attribute dhqLongCode { xsd:NCName }?,
  attribute dhqID { xsd:integer }?
*/

JournalArticle { }
Book { }
BookSection { }
ConferencePaper { }
BookInSeries { }
WebSite { }
Artwork { }
BlogEntry { }
Thesis { }
VideoGame { }

book { }
conference { }
publication { }
journal { }

author { }
translator { }
creator { }
contributor { }
editor { }

sponsor { }

name { }
fullName { }
givenName { }
familyName { }

title { }
volume { }
issue { }
date { }
place { }
publisher { }
note { }
etal { }
series { }
additionalTitle { }
url { }
startingPage { }
endingPage { }
