body {
	background-color:#000;
	-webkit-text-size-adjust: none;
	
	}

h1{
	font-family:'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
	font-size:30px;
	color:#FFF;
	font-stretch:extra-expanded;
	height:auto;
	font-weight:100;}
	
h2 {
	color:#fff;
	font:Arial, Helvetica, sans-serif;
	font-size:20px;}
	
h3 {
	color:#fff;
	font: Arial, Helvetica, sans-serif;
	font-size:18px;}
	
h4 {
	color:#999;
	font-weight:40;
	font:Arial, Helvetica, sans-serif;
	font-size: 10px;}

h5 {
	color:#999;
	font-weight:75;
	font:Arial, Helvetica, sans-serif;
	font-size: 15px;}
hr {
	max-width:900px;
	background-position:center;}
	
.eyesBody {	
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding:10px;
	max-width:900px;
	background-position:center;
	border:#333333, 5px, solid;
	display:none;
	text-align:right;}
	
.title {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	font-weight:bold;
	color:#950000;
	text-align:right;}
	
.content {
	background-position:center;
	text-align:left;
	background-color:#000;
	max-width:900px;
	max-height:345px;
	color: #fff;
    min-width:675px;
	min-height:345px;
	cursor:crosshair;
	background:url(../images/tool.jpg);
	padding:10px 45px;
	}


#vid {
	padding-top:25px;}

a {text-decoration:none;
color: #FFF;}

a:visited {
    color:#F90;
    text-decoration: none;}
	
a:hover {
    color: #ac1221;
    text-decoration: none;}
	
div {
	overflow: visible;}

div.paragraph {
    position: relative;}

span {
	max-width:750px;
}

#line1, #line1a, #line2, #line3, #line4, #line5, #line6, #line7, #line8, #line9, #line10, #line11, #line12, #line13,#line14, #line15, #line16, #line17, #line17b, #line18, #line19, #line20, #line21, #line22, #line23, #line24, #line25, #line26, #line27, #line28, #line29, #line30, #line31, #line32, #line33, #line34, #line35, #line36, #line37, #line38, #line39, #line40, #line41, #line42, #line43, #line44, #line45, #line46, #line47, #line48, #line49, #line50, #line51, #line52, #line53, #line54, #line55, #line56, #line57, #line58, #line59, #line60, #line61, #line62, #line63, #line64, #line65, #line66, #line67, #line68, #line69, #line70, #line71, #line72, #line73, #line74, #line75, #line76, #line77, #line78, #line79, #line80, #line81, #line82, #line83, #line84, #line85, #line86, #line87, #line88, #line89, #line90, #line91, #line92, #line93, #line94, #line95, #line96, #line97, #line98, #line99 {
	display:none;
	color:#FFF;
	font-weight:100;
	font:Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight:100;
	}
	
