body {margin:0px;
	font-family: 'Oswald', sans-serif;
	background-color:#d5dfe9;
	}


	
h1 {padding-top:30px;
	padding-bottom:0px;
	padding-left:40px;
	margin:0px;
	font-size:25px;
	letter-spacing: 1px;
	font-weight: 300;
	line-height: 1.5;
	color:black;	
	text-align:left;
	background-color:#d5dfe9;
	}
	
h2 {padding-top:0px;
	padding-bottom:10px;
	padding-left:40px;        
	margin:0px;
	font-size:13px;
	letter-spacing: 2px;
	font-weight: 300;
	line-height: 1.5;
	color:#272c30;	
	text-align:left;
	background-color:#d5dfe9;
	border-bottom: 3px solid white;
	}

h3 {padding-top:20px;
	padding-bottom:5px;
	padding-left:40px;
	padding-right:30px;
	margin:0px;
	font-size:17px;
	font-weight: 500;
	line-height: 1.2;
	color:black;	
	text-align:justify;
	}

h4 {padding-top:20px;
	padding-bottom:20px;
	padding-left:40px;
	padding-right:30px;
	margin:0px;
	font-size:17px;
	font-weight: 300;
	line-height: 1.3;
	color:#272c30;	
	text-align:justify;
	vertical-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	}

h5 {padding-top:20px;
	padding-bottom:20px;
	padding-left:40px;
	padding-right:30px;
	margin:0px;
	font-size:17px;
	font-weight: 300;
	line-height: 1.2;
	color:black;	
	text-align:justify;
	vertical-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;}
	
.icon1{
	vertical-align: text-top;
	float:right;
}

.icon2{
	vertical-align: text-bottom;
	float:left;
}




#map {width: 100%;
    height: 80%;
	}
	
#footer {clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 40px;
	padding-left: 40px;
	color: black;
	background-color:#d5dfe9;
	font-weight: 300;
	letter-spacing: 2px;
	font-size:17px;
	border-top: 2px solid white;
	}


	
#map .hyperlink	{color: #708090;    /* para eliminar el color azul y el subrayado de los hipervínculos del control de capas*/
    text-decoration: none;
	font-weight: 400;
	
	}
	
#map .hyperlink:hover {color:black; 
    text-decoration:none; 
	
    cursor:pointer;
	}
	
	
/* menú responsive*/
@media screen and (max-width: 1200px) {

body {padding-top:40px;	
	}



.menu_bar {	display:block;
	width:100%;
	position: fixed;
	top:0;
	background:rgba(255,255,255, 0.9);
	}

.menu_bar .bt-menu {display: block;
	padding-right: 40px;
	padding-top: 12px;
	color: black;
	overflow: hidden;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	float: right;
	}
	
nav {width:100%;
	position: fixed;
	right: 100%;
	margin: 0;
	overflow: hidden;
	background-color: rgba(255,255,255, 0.9);    /* para que el desplegable sea transparente*/
	}

nav ul li { 
	display: block;
	padding-top: 0px;
	text-align: right;
	}	
	
nav ul li a {
	display: block;
	padding-top: 5px;
	font-size:15px;
	background-color: rgba(255,255,255, 0); 
	color: #708090;
	}
	
h1 {font-size:30px;
	}	
	
	
}
