/*  DHQ Biblio
 *  LESS->CSS rules
 *  
 *  Created 2018 by Ashley M. Clark
 */
body {
  margin: 0 0 2em;
  padding: 0 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Arial, 'Arial Unicode MS', 'Lucida Grande', sans-serif;
  font-size: 0.95em;
}
body * {
  box-sizing: border-box;
}
body > header {
  margin-bottom: 1.5em;
  flex-direction: column;
}
body > div.main {
  padding: 0 1em;
  display: inline-flex;
  flex: 1 1 auto;
  align-self: center;
  width: 90%;
}
.noshow {
  display: none;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
div {
  width: 100%;
}
div#xonomyBubble {
  width: unset;
}
div#xonomyBubble * {
  width: unset;
}
div#xonomyBubble button {
  font-size: unset;
}
header div {
  width: auto;
}
.flex {
  display: flex;
  align-items: baseline;
}
.container {
  padding: 0 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
}
@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap-reverse;
  }
}
.container.container-main {
  padding: 1em 0.5em;
  width: 70%;
}
.container.container-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 1em;
  grid-row-gap: 0.35em;
}
.container.container-grid .grid-item.grid-item-centered {
  align-self: center;
  justify-self: center;
}
.container.container-col {
  padding: 0.5em 0;
  flex-flow: column nowrap;
  width: unset;
}
.container.container-col.sidebar {
  align-self: start;
}
.container.container-citation {
  margin-top: 1.5em;
  height: 22%;
  min-height: 120px;
  width: 90%;
  min-width: 600px;
}
.container.container-citation.container-citation-keyed .reader {
  border-radius: 1em;
  border-color: lightgreen;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h4 {
  margin: 1em 0;
  text-decoration: underline;
}
#modal {
  border: 0.25rem solid #aa4d0f;
  display: flex;
  width: 20%;
  min-width: 300px;
  height: auto;
  min-height: 20%;
  position: fixed;
  left: 40%;
  top: 10%;
  z-index: 3;
  background-color: white;
  /* The flex display rule above will override the "noshow" class by default. */
}
#modal.noshow {
  display: none;
}
#modal #modal-close-button {
  margin-right: 0.5em;
  margin-top: 0;
  align-self: end;
  width: inherit;
}
#modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(50, 50, 50, 0.2);
}
header {
  margin: 0;
  border-bottom: 2px solid #aaaaaa;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
header > .biblio-qa-header {
  padding: 0 0.5em 0.25em 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
header > nav {
  width: 100%;
}
header > nav > .nav-menu {
  margin-left: 0.25em;
  flex-direction: row;
  justify-content: flex-start;
}
header > nav > .nav-menu > .nav-item {
  margin: 0;
  border: thin #cccccc;
  border-style: solid solid none none;
  min-width: 130px;
}
header > nav > .nav-menu > .nav-item:first-child {
  border-left-style: solid;
}
header > nav > .nav-menu > .nav-item .tab {
  border: none;
  border-radius: 0;
  padding: 0.35em 0.5em 0.25em;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: unset;
  color: #6789a8;
}
header > nav > .nav-menu > .nav-item .sub-nav {
  border: thin solid #aaaaaa;
  border-top-style: none;
  padding: 0;
  min-width: 130px;
  position: absolute;
}
header > nav > .nav-menu > .nav-item .sub-nav > li {
  margin: 0;
}
header > nav > .nav-menu > .nav-item .sub-nav .button {
  border-width: 0;
  border-radius: 0;
  display: block;
  color: #6789a8;
}
header h1 {
  margin: 0.25em 0 0;
}
header h1 a {
  text-decoration: none;
}
header div {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
header .greeting {
  margin-right: 0.75em;
}
header form.logout {
  margin: auto;
}
.main-content {
  padding: 1em 0.5em;
  width: 70%;
}
.sidebar {
  padding: 1em 1em 0;
  display: inline-flex;
  width: 30%;
  max-width: 400px;
  flex: 0 1 auto;
  flex-direction: column;
  background-color: lightblue;
}
.sidebar p {
  line-height: 1.5;
}
.sidebar .sidebar-component {
  margin: 1em 0 0;
  padding: 0.75em;
  background-color: rgba(245, 252, 255, 0.75);
}
.sidebar .sidebar-component .sidebar-component {
  border: thin solid #aaaaaa;
  background-color: white;
}
.sidebar .sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidebar #search-module #search-results {
  margin: 0 0 0.5em;
  overflow: hidden;
}
.sidebar #search-module #search-results h4 {
  margin-top: 0.5em;
}
.sidebar #search-module #search-results table {
  margin: 0.25em 0;
  background-color: white;
  font-size: 0.9rem;
}
.sidebar #search-module #search-results ul {
  padding: 0;
}
.sidebar #search-module #search-results ul li {
  padding-left: 1em;
  text-indent: -1em;
  list-style: none;
}
.sidebar #warnings {
  /*position: -webkit-sticky;
    position: sticky;
    top: 1px;*/
}
.sidebar #warnings:empty {
  display: none;
}
.sidebar #warnings .citation {
  margin: 0.2em 1em 0;
  padding-left: inherit;
  text-indent: inherit;
}
form {
  margin: 1em auto;
}
form.container.container-grid {
  grid-template-columns: [label] 1fr [input] 2fr;
  align-items: center;
}
form.container.container-grid label {
  justify-self: end;
}
form.container.container-grid button[type="submit"],
form.container.container-grid input[type="submit"] {
  padding: 0.25em 1em;
  grid-column: 2;
  justify-self: end;
}
form input {
  margin: 0.15em 0 0.5em;
}
form button[type='submit'],
form input[type='submit'] {
  padding: 0.25em 0.5em;
  font: inherit;
  font-size: 0.9em;
}
#sets {
  /*.set-name,
  .set-member-group {
    margin-left: 0.5em;
  }*/
}
#sets.dragging .set-container:hover,
#sets.dragging .set-container:focus {
  background-color: #eaf6fa;
}
#sets .set-container {
  padding: 0.15em 0.2em;
  display: flex;
  justify-content: space-between;
}
#sets .set-name {
  display: inline-block;
  width: 33%;
  text-align: right;
}
#sets .set-name input[type="text"].handle {
  text-align: right;
}
#sets .set-member-group {
  border: 2px #cccccc;
  border-style: solid groove;
  /*border-radius: 0.75em 0.2em;*/
  padding: 0.5em;
  display: inline-block;
  width: 65%;
}
#sets .set-member {
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 0.25em;
  width: 100%;
}
#sets .set-member > * {
  grid-column: 1 / span 3;
}
#sets .set-member > .membership-flag {
  grid-column: 1;
}
#sets .set-member > label {
  grid-column: 2;
}
#sets .set-member > .drag-handle {
  grid-column: 3;
  justify-self: end;
}
#sets .set-member > .drag-handle[aria-selected='true'] {
  position: absolute;
}
#sets .set-member-refs {
  display: flex;
}
#sets .set-member-refs.set-member-refs-empty {
  display: none !important;
}
#sets .set-member-refs > * {
  display: inline-block;
  width: 50%;
}
#sets .set-member-refs ul {
  list-style: circle;
}
#sets .set-member-refs ul:empty {
  display: none;
}
input[type='text'],
textarea {
  font: inherit;
}
input[type='text'].subtle,
textarea.subtle {
  border: thin outset #cccccc;
  padding: 0.15em 0.3em;
  width: 100%;
  font-weight: bold;
  text-align: right;
  text-transform: lowercase;
  resize: vertical;
}
input[type='text'].subtle:focus,
textarea.subtle:focus {
  border-color: #aaaaaa;
  border-style: inset;
  text-transform: unset;
}
.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
ul.grid {
  padding-left: unset;
  list-style: none;
}
.hangindent {
  padding-left: 1em;
  text-indent: -1em;
}
.citation {
  margin-bottom: 10px;
  padding-left: 1em;
  text-indent: -1em;
  display: inline-block;
}
.cite-actionable {
  grid-template-columns: [metadata] 1fr [entry] 2fr;
}
.cite-actionable .cite-metadata {
  grid-column: 1;
}
.cite-actionable .cite-entry {
  grid-column: 2;
}
table {
  margin: 0 1em;
  width: 100%;
  flex-shrink: 0;
  table-layout: fixed;
  font-size: inherit;
}
table tbody tr:nth-of-type(2n+1) {
  background-color: #eaf6fa;
}
table th,
table td {
  border: thin #cccccc;
  border-style: solid dotted;
}
table th.cell-min,
table td.cell-min {
  width: 10%;
  min-width: 60px;
}
table th.cell-centered,
table td.cell-centered {
  text-align: center;
}
table th ul,
table td ul {
  margin: 0;
  padding: 0 1.15em;
}
table th ul li,
table td ul li {
  list-style: circle;
}
table th {
  padding: 0.25em;
}
table td {
  padding: 0.5em;
  vertical-align: top;
}
ul li {
  margin: 0.25em;
}
*[role='status'][aria-live] {
  display: block;
  font-size: 0.9em;
}
button,
.button {
  border: 0.2em outset #cccccc;
  border-radius: 0.75em;
  padding: 0.25em 0.5em;
  background-color: #fdfdff;
  color: inherit;
}
button:hover,
.button:hover {
  border-color: #aaaaaa;
  cursor: pointer;
}
button:disabled,
.button:disabled {
  background-color: #eeeeee;
}
button:disabled:hover,
.button:disabled:hover {
  border-color: #aaaaaa;
  cursor: not-allowed;
}
button.dismissable-btn,
.button.dismissable-btn {
  margin: 1em 0;
  border-radius: 0.15em;
  padding: 0.5em 0.75em;
  color: black;
}
#xonomyBubble button.search-btn,
#xonomyBubble .button.search-btn {
  margin: 0 2px;
  padding: 4px;
  width: 2em;
  background-image: url(xonomy-3.5.0/magnifier.png);
  background-position: center center;
  background-repeat: no-repeat;
}
a {
  color: #6789a8;
}
a:hover {
  color: #aa4d0f;
}
a.button,
a[role="button"] {
  text-decoration: none;
  cursor: pointer;
}
.container-grid.workbench-bibls {
  grid-template-columns: [reader] 50% [editor] 50%;
  grid-row-gap: 2em;
  align-content: start;
  align-items: start;
}
.editor,
.reader {
  border: medium solid #cccccc;
  padding: 1em 0.75em;
}
nav ul,
nav ol {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
nav ul li,
nav ol li {
  display: block;
}
nav.results-nav {
  margin: 0.5em 0;
}
nav.results-nav ol {
  display: grid;
  grid-template-areas: "first prev . next last";
  grid-template-columns: auto auto 1fr auto auto;
}
nav.results-nav ol li {
  margin: auto 1px;
  display: inline-block;
}
nav.results-nav ol li.results-pg-nav.results-pg-first {
  grid-area: first;
}
nav.results-nav ol li.results-pg-nav.results-pg-prev {
  grid-area: prev;
}
nav.results-nav ol li.results-pg-nav.results-pg-next {
  grid-area: next;
}
nav.results-nav ol li.results-pg-nav.results-pg-last {
  grid-area: last;
}
.results-pg-current,
.results-pg-total {
  color: #aa4d0f;
}
.label-group {
  font-size: larger;
}
.info-count {
  font-size: 0.85em;
}
#xonomyBubble #xonomyBubbleContent div.menuItem.menuItem-disabled {
  cursor: default;
}
