TEI  {
  margin-left: 1em;
  margin-right: 1em;
  quotes: '\201C' '\201D' '\201E' '\201F' }


teiHeader  { display: block;
  font-family: sans-serif;
  margin: 0.5em;
  border: thin solid black;
  background-color: #EAEAEA;
  padding: 0.5em }

 
fileDesc  { display: block;
}

 
titleStmt  { display: block;
}

 
DHQauthor    { display: block;
  border: thin inset black;
  margin-top: 0.5em;
  padding: 0.5em }
/* change to authorInfo */


sponsor  {
}

 
publicationStmt  { display: block;
}

 
idno  { display: block;
}

 
availability  { display: block;
}

 
seriesStmt  { display: block;
}

 
sourceDesc  { display: block;
}

 
editorialDecl  { display: block;
}

 
profileDesc  { display: block;
}

 
creation  { display: block;
}

 
langUsage  { display: block;
}

 
language  { display: block;
}

 
revisionDesc  { display: block;
}

 
change  { display: block;
}

 
abstract  { display: block;
}

 
affiliation  { display: block;
}

 
bio  { display: block;
}



text, front, body, back { display: block }

 
floatingText  { display: block;
  margin: 0.5em;
  border: thin dotted black;
  padding: 0.5em }


div { display: block;
  margin-top: 1em }

notes  {
}


 
example  {
}


listBibl  {
}

 
dateline, salute, trailer, signed  { display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em
}

dateline + salute,
salute + dateline,
signed + dateline,
dateline + signed  { margin-top: 0em }
 
epigraph  {
}

 
postscript  {
}

 
table  {
}

table {
  display: table;
  margin-top: 0.5em;
  border-collapse: separate;
  border-spacing: 0.25em
}

row {
  display: table-row
} 

cell {
  display: table-cell;
  padding: 0.25em;
  margin: 0.25em;
  border: thin solid #A0A0A0;
} 

 
formula  {
}

 
figure  {
}

 
figDesc  {
}


p { display: block;
  margin-top: 0.5em }

item > p { margin-top: 0.25em }

lg { display: block;
  margin-top: 0.5em }

l { display: block;
  margin-top: 0em }

sp { display: block;
  margin-top: 0.5em }


list {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em }

item {
  display: list-item;
  text-align: left;
  list-style-position: inside;
  white-space: normal;
  margin-left: 1.5em;
}

list[type=ordered] > item {
  list-style-type:decimal }

list[type=simple] > item,
list[type=gloss] > item {
  display: block;
  margin-left: 1.5em }

list[type=gloss] > item {
  margin-top: 0.5em }
  
speaker  {
}

 
stage  {
}


label  {   font-family: sans-serif;
  font-weight: bold;
  font-size: 90%
}

list > label { display: block }
 
head { display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 120%;
  color: #191970
  }

body > head { font-size: 150% }

div head { font-size: 130% }

div div head { font-size: 120% }

div div div head { font-size: 110% }
  
div div div div head { font-size: 100% }


 
note  { display: block;
  margin: 0.5em;
  border: thin dotted black;
  padding: 0.5em;
  background-color: #FAFACA }


cit { }

quote[rend=block] {
  display: block;
  font-size: 110%;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em }

quote[rend=inline] { display:inline }


quote[rend=inline]:before,
*[rend=quotes]:before,
said:before,
q:before {
  content: open-quote;
}

quote[rend=inline]:after,
*[rend=quotes]:after,
said:after,
q:after {
  content: close-quote;
}


title { font-style: italic }

title[rend=bold], title[rend=quotes] { font-style: normal }

emph, foreign, *[rend=italic] { font-style: italic }

*[rend=bold] { font-weight: bold }

*[rend=monospace] { font-family: monospace }

*[rend=smcaps] { font-variant: small-caps }

*[rend=subscript] { vertical-align:sub }

*[rend=superscript] { vertical-align:super }


/* values of hi/@rend:
  bold
  italic
  monospace
  quotes
  smcaps
  subscript
  superscript
*/
 
term  { font-family: sans-serif;
  font-size: 90% }


name  {
}


ptr  {
}

 
ref  {
}


email  { font-family: sans-serif;
  color: blue
}

 
address  { display: block
}

graphic  {
}


lb  { display: block
}
 
series  {
}

 
author  {
}

 
contrib  {
}


editor  {
}

 
meeting  {
}

 
publisher  {
}

 
biblScope  {
}

 
pubPlace  {
}

 
bibl  {
}

p > bibl:before, item > bibl:before, note > bibl:before,
cit > bibl:before, ref:before { content: '[' }

p > bibl:after, item > bibl:after, note > bibl:after,
cit > bibl:after, ref:after { content: ']' }

code  { font-family: monospace 
}

 
eg, egXML  { display: block;
  white-space: pre;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  font-family: monospace
}


tag, gi, att, val  { font-family: monospace 
}

att:before { content: '@'
}
 
gi:before,
tag:before { content: '<'
}

gi:after,
tag:after { content: '>'
}

val:before,
val:after { content: "'"
}
 